.row.mb-60
  .col-sm-5
    %p.in-gold-500.font-18.mb-25 Email
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: 'email' }, class: "general-form-md") do |f|
      = f.error_notification
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %p
          Currently waiting confirmation for:
          \#{resource.unconfirmed_email}
      .form-group.mb-35
        = f.input :email, required: true, autofocus: true, placeholder: "Enter email", type: "email", class:"form-control", label:false, name: "email"
        .general-text-align
          = f.button :submit, "Save", class:"btn btn-default mb-35"
  .col-sm-5.col-sm-offset-1
    %p.in-gold-500.font-18.mb-25 Password
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: 'change_password_form' }, class:"general-form-md divider-lg-bottom pb-25") do |f|
      = f.error_notification
      .form-group.mb-30
        %label.control-label.input-label{:for => "oldPassword"} Old Password
        = f.input :current_password, class: "form-control", placeholder: "Old Password", required: true, type: "password", input_html: { autocomplete: "current-password" }
      .form-group.mb-30
        %label.control-label.input-label{:for => "password"} New Password
        = f.input :password, type:"password",placeholder:"New Password", class: "form-control", required: true, input_html: { autocomplete: "new-password" }
      .form-group.mb-40
        %label.control-label.input-label{:for => "confirmPassword"} Confirm Password
        = f.input :password_confirmation, placeholder: "Confirm Password", required: true, type: "password", class: "form-control", input_html: { autocomplete: "new-password" }
      .general-text-align
        = f.button :submit, "Save", class:"btn btn-default mb-10"
  .col-sm-12
    %p.in-gold-500.font-18.mb-25 Remove Account
    = simple_form_for(current_user, url: user_registration_path, html: { method: :delete, id: 'delete_account_form' } ) do |f|
      .general-settings-btn
        = f.button :submit, class: 'btn btn-default disabled mb-20 delete-button', value: 'Please Remove My Account', disabled: true, id: 'delete_account_btn'
      .form-group.checkbox.general-settings-checkbox
        %label.checkbox-label
          %input.checkbox-input{type: "checkbox", hidden: "true"}
          %span.checkbox-icon
            %i.fa.fa-check
          %span.checkbox-text I understand that all data will be lost
