%main.container.general-main-wrap
  .text-center
    %h3.general-login-title Sign up
    = link_to user_facebook_omniauth_authorize_path, class: "general-login-icon" do
      %i.fa.fa-facebook-official
    %p.general-login-text or
  .general-form
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = f.error_notification
      .form-group.mb-30
        = f.label :email, "Enter Email", class:"control-label input-label"
        = f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" }, label: false
      .form-group.mb-30
        = f.label :password, "Password", class:"control-label input-label"
        = f.input :password, label:false, required: true, input_html: { autocomplete: "new-password" }
        - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
          = link_to "Forgot password?", new_password_path(resource_name), class: "help-block in-gold-500"
      .form-group.mb-30
        = f.label :password_confirmation, "Confirm Password", class:"control-label input-label"
        = f.input :password_confirmation, label:false, required: true, input_html: { autocomplete: "new-password" }
      .form-group.checkbox.text-center.mb-30
        %label.checkbox-label
          %input.checkbox-input{:hidden => "true", :type => "checkbox"}/
          %span.checkbox-icon
            %i.fa.fa-check
          %span.checkbox-text Remember me
      .text-center
        = f.button :submit, "Sign up", class:"btn btn-default mb-20",  id:'register-btn'
  %p.general-sign-text.text-center
    Have an Account?
    - if controller_name != 'sessions'
      = link_to "Log in", new_session_path(resource_name), class:"in-gold-500"
.form-inputs
