%p.in-gold-500.font-18
  = I18n.t('views.carts.order_summary')
%table.general-summary-table
  %tr
    %td
      %p.font-16
        = I18n.t('views.checkout.item_total')
    %td
      %p.font-16
        = number_to_euro current_order.total_price_init
  %tr
    %td
      %p.font-16
        = I18n.t('views.checkout.order_total')
    %td
      %p.font-16
        = number_to_euro current_order.total_price_init
