<main class="container">
  <h1 class="general-title-margin">Checkout</h1>
  <ul class="steps list-inline">
    <li class="step">
      <span class="step-number">1</span>
      <span class="step-text hidden-xs">Address</span></li>
    <li class="step-divider"></li>
    <li class="step active">
      <span class="step-number">2</span>
      <span class="step-text hidden-xs">Delivery</span></li>
    <li class="step-divider"></li>
    <li class="step">
      <span class="step-number">3</span>
      <span class="step-text hidden-xs">Payment</span></li>
    <li class="step-divider"></li>
    <li class="step">
      <span class="step-number">4</span>
      <span class="step-text hidden-xs">Confirm</span></li>
    <li class="step-divider"></li>
    <li class="step">
      <span class="step-number">5</span>
      <span class="step-text hidden-xs">Complete</span>
    </li>
  </ul>
  <%= simple_form_for @addresses, url: wizard_path, method: :put, class: 'res-mb-100' do |form| %>
  <div class="hidden-xs hidden-sm">
    <div class="row">
      <%= Address.casts.each_key do |cast| %>
      <div class="col-md-5">
        <h3 class="general-subtitle mt-0"><%= cast.capitalize %>
          Address</h3>
      </div>
      <% end %>
    </div>
  </div>
  <div class="row">
  <%= Address.casts.each_key do |cast| %>
    <div class="col-md-5 mb-40">
      <div class="visible-xs visible-sm">
        <h3 class="general-subtitle mt-0"><%= cast.capitalize %> Address</h3>
      </div>
      <%= form.simple_fields_for(current_user.addresses.find_or_initialize_by(cast: Address.casts[cast])) do |ff| %>
        <%= ff.error_notification %>
        <%= render 'addresses/form_fields', f:ff, cast: cast%>
      <% end %>
    </div>
  <% end %>
  </div>
  <div class="form-group checkbox">
    <label class="checkbox-label">
      <input type="checkbox" hidden="true" class="checkbox-input"/>
      <span class="checkbox-icon">
        <i class="fa fa-check"></i>
      </span>
      <span class="checkbox-text">Use Billing Adress</span>
    </label>
  </div>
  <%= render 'order_total' %>
  <%= form.button :submit, "Save and Continue", class:"btn btn-default center-block mb-20" %>
  <% end %>
</main>
