%main.container.general-main-wrap
  %h1.general-title-margin
    = I18n.t('views.checkout.checkout')
  = render 'steps'
  .row.mb-20
    - current_order.addresses.each do |current_address|
      .col-sm-3
        %h3.general-subtitle
          = I18n.t('views.checkout.confirm.address', address: OrderPresenter.new(current_address, self).address)
        %p.general-address
          = OrderPresenter.new(current_address, self).username
          = link_to "edit", checkout_path(:addresses), class: "general-edit"
          %br
          = current_address.address
          %br
          = OrderPresenter.new(current_address, self).city_zip
          %br
          = current_address.country
          %br
          = I18n.t('views.checkout.confirm.phone', phone: current_address.phone)
    .col-sm-3
      %h3.general-subtitle
        = I18n.t('views.checkout.confirm.shipments')
      %p.general-address
        = current_order.delivery.name
        = link_to "edit", checkout_path(:delivery), class: "general-edit"
        %br
        = current_order.delivery.time
    .col-sm-3
      %h3.general-subtitle Payment Information
      %p.general-address
        = I18n.t('views.checkout.confirm.card_number', number: OrderPresenter.new(current_order, self).card_number)
        = link_to "edit", checkout_path(:payment), class: "general-edit"
        %br
        = current_order.credit_card.expiration_month_year
  .visible-xs
    - current_order.line_items.each do |line_item|
      .general-cart-item.divider-lg
        .general-img-wrap-table
          = link_to line_item.book.images.first.url do
            = image_tag line_item.book.images.first.url, class: "img-shadow general-thumbnail-img", alt: "design-book"
        %p.title
          = line_item.book.title
        %table.table
          %tr
            %td
              %span.in-grey-600
                = I18n.t('views.checkout.confirm.price')
            %td
              %span.font-16.in-gold-500
                = number_to_euro line_item.book.price
          %tr
            %td.vertical-middle
              %span.in-grey-600
                = I18n.t('views.checkout.confirm.quantity')
            %td
              %span
                = line_item.quantity
          %tr
            %td
              %span.in-grey-600
                = I18n.t('views.checkout.confirm.subtotal')
            %td
              %span.font-16.in-gold-500
                = number_to_euro line_item.total_price
  .hidden-xs.divider-lg.pt-20
    %table.table.table-hover
      %thead
        %tr
          %th
            %span.in-grey-600
              = I18n.t('views.checkout.confirm.book')
          %th.col-method
          %th
            %span.in-grey-600
              = I18n.t('views.checkout.confirm.price')
          %th
            %span.in-grey-600
              = I18n.t('views.checkout.confirm.quantity')
          %th
            %span.in-grey-600
              = I18n.t('views.checkout.confirm.total')
      %tbody
        - current_order.line_items.each do |line_item|
          %tr
            %td
              .general-img-wrap-table
                = link_to line_item.book.images.first.url do
                  = image_tag line_item.book.images.first.url, class: "img-shadow general-thumbnail-img", alt: "design-book"
            %td
              %p.title
                = line_item.book.title
              %p.in-grey-600.fw-300
                = OrderPresenter.new(line_item, self).description
            %td
              %span.font-16.in-gold-500
                = number_to_euro line_item.book.price
            %td
              %span.ml-30
                = line_item.quantity
            %td
              %span.font-16.in-gold-500
                = number_to_euro line_item.total_price
  .text-center.general-text-right
    %p.in-gold-500.font-18
      = I18n.t('views.checkout.order_summary')
    %table.general-summary-table.general-summary-table-right.general-text-right
      = render 'order_summary', order: current_order
  .text-center
    = button_to I18n.t('views.checkout.confirm.place_order'), wizard_path, method: :put, class: 'btn btn-default mb-20'
