%main.container.general-main-wrap
  %h1.general-title-margin Checkout
  = render 'steps'
  .row.mb-20
    - current_order.addresses.each do |current_address|
      .col-sm-3
        %h3.general-subtitle "#{current_address.cast.capitalize} Address"
        %p.general-address
          = "#{current_address.firstname} #{current_address.lastname}"
          = link_to "edit", checkout_path(:addresses), class: "general-edit"
          %br
          = current_address.address
          %br
          = "#{current_address.city} #{current_address.zip}"
          %br
          = current_address.country
          %br
          = "Phone #{current_address.phone}"
    .col-sm-3
      %h3.general-subtitle Shipments
      %p.general-address
        = current_order.delivery.name
        = link_to "edit", checkout_path(:delivery), class: "general-edit"
        %br
        = current_order.delivery.time
    .col-sm-3
      %h3.general-subtitle Payment Information
      %p.general-address
        = "**** **** **** #{current_order.credit_card.card_number.last(4)}"
        = link_to "edit", checkout_path(:payment), class: "general-edit"
        %br
        = current_order.credit_card.expiration_month_year
  .visible-xs
    - current_order.line_items.each do |line_item|
      .general-cart-item.divider-lg
        .general-img-wrap-table
          = link_to line_item.book.images.first.url do
            = image_tag line_item.book.images.first.url, class: "img-shadow general-thumbnail-img", alt: "design-book"
        %p.title= line_item.book.title
        %table.table
          %tr
            %td
              %span.in-grey-600 Price
            %td
              %span.font-16.in-gold-500= number_to_euro line_item.book.price
          %tr
            %td.vertical-middle
              %span.in-grey-600 Quantity
            %td
              %span= line_item.quantity
          %tr
            %td
              %span.in-grey-600 SubTotal
            %td
              %span.font-16.in-gold-500= number_to_euro line_item.total_price
  .hidden-xs.divider-lg.pt-20
    %table.table.table-hover
      %thead
        %tr
          %th
            %span.in-grey-600 Book
          %th.col-method
          %th
            %span.in-grey-600 Price
          %th
            %span.in-grey-600 Quantity
          %th
            %span.in-grey-600 Total
      %tbody
        - current_order.line_items.each do |line_item|
          %tr
            %td
              .general-img-wrap-table
                = link_to line_item.book.images.first.url do
                  = image_tag line_item.book.images.first.url, class: "img-shadow general-thumbnail-img", alt: "design-book"
            %td
              %p.title= line_item.book.title
              %p.in-grey-600.fw-300= line_item.book.description.split('.').first
            %td
              %span.font-16.in-gold-500= number_to_euro line_item.book.price
            %td
              %span.ml-30= line_item.quantity
            %td
              %span.font-16.in-gold-500= number_to_euro line_item.total_price
  .text-center.general-text-right
    %p.in-gold-500.font-18 Order Summary
    %table.general-summary-table.general-summary-table-right.general-text-right
      = render 'order_summary', order: current_order
  .text-center
    = button_to "Place Order", wizard_path, method: :put, class: 'btn btn-default mb-20'
