%main.container.general-main-wrap
  .row
    .col-md-6.col-xs-12.mb-40
      .text-center
        %h3.general-subtitle.mt-0
          = I18n.t('views.checkout.login.customer')
        %a.general-login-icon{ href: user_facebook_omniauth_authorize_path }
          %i.fa.fa-facebook-official
        %p.general-login-text or
      = form_for(User.new, url: user_session_path, html: { class: 'general-form' }) do |f|
        .form-group.mb-40
          %h4.general-login-title
            = I18n.t('views.checkout.login.login')
          = f.label :email, I18n.t('views.checkout.login.email'), class: 'control-label input-label'
          = f.email_field :email, placeholder: I18n.t('views.checkout.login.email'), autofocus: true, class: 'form-control'
        .form-group.mb-40
          = f.label :password, class: 'control-label input-label'
          = f.password_field :password, placeholder: I18n.t('views.checkout.login.password'), class: 'form-control'
          %a.help-block.in-gold-500{ href: new_user_password_path }
            = I18n.t('views.checkout.login.forgot_password')
        .actions
          = f.submit I18n.t('views.checkout.login.login'), class: 'btn btn-default mb-20'
    .col-md-6.col-xs-12.mb-40
      .text-center
        %h3.general-subtitle.mt-0
          = I18n.t('views.checkout.login.new_customer')
        %a.general-login-icon{ href: user_facebook_omniauth_authorize_path }
          %i.fa.fa-facebook-official
        %p.general-login-text
          = I18n.t('views.checkout.login.or')
      = form_for(User.new, url: user_registration_path, html: { class: 'general-form' }) do |f|
        .form-group.mb-40
          %h4.general-login-title.mb-5
            = I18n.t('views.checkout.login.quick_register')
          %p.general-login-text.mt-0
            = I18n.t('views.checkout.login.create_password_later')
          = f.label :email, I18n.t('views.checkout.login.email'), class: 'control-label input-label'
          = f.email_field :email, placeholder: I18n.t('views.checkout.login.email'), class: 'form-control'
          - password = Devise.friendly_token
          = f.hidden_field :password, value: password
          = f.hidden_field :password_confirmation, value: password
        .actions
          = f.submit I18n.t('views.checkout.login.continue_checkout'), class: 'btn btn-default mb-20'
