%main.container.general-main-wrap
  .text-center
    %h3.general-login-title
      = I18n.t('devise.passwords.new_password')
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "general-form" }) do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token
    .form-group.mb-30
      = f.label :password, I18n.t('devise.passwords.type_new_password'), class: "control-label input-label"
      = f.password_field :password, placeholder: I18n.t('devise.passwords.type_new_password'), class: "form-control"
    .form-group.mb-40
      = f.label :password, I18n.t('devise.passwords.confirm_password'), class: "control-label input-label"
      = f.password_field :confirm_password, placeholder: I18n.t('devise.passwords.confirm_password'), class: "form-control"
    .actions
      = f.submit I18n.t('devise.passwords.change'), class: "btn btn-default center-block mb-20"
