%main.container.general-main-wrap
  %h1.general-title-margin= "Order #{@order.number}"
  .row.mb-20
    .col-sm-3
      %h3.general-subtitle.mt-0 Billing Address
      %p.general-address
        = "#{@order.addresses.billing.first.firstname} #{@order.addresses.billing.first.lastname}"
        %br
        = @order.addresses.billing.first.address
        %br
        = "#{@order.addresses.billing.first.city} #{@order.addresses.billing.first.zip}"
        %br
        = @order.addresses.billing.first.country
        %br
        = "Phone #{@order.addresses.billing.first.phone}"
    .col-sm-3
      %h3.general-subtitle.mt-0 Shipping Address
      %p.general-address
        - if @order.addresses.shipping.any?
          = "#{@order.addresses.shipping.first.firstname} #{@order.addresses.shipping.first.lastname}"
          %br
          = @order.addresses.shipping.first.address
          %br
          = "#{@order.addresses.shipping.first.city} #{@order.addresses.shipping.first.zip}"
          %br
          = @order.addresses.shipping.first.country
          %br
          = "Phone #{@order.addresses.shipping.first.phone}"
        - else
          = "#{@order.addresses.billing.first.firstname} #{@order.addresses.billing.first.lastname}"
          %br
          = @order.addresses.billing.first.address
          %br
          = "#{@order.addresses.billing.first.city} #{@order.addresses.billing.first.zip}"
          %br
          = @order.addresses.billing.first.country
          %br
          = "Phone #{@order.addresses.billing.first.phone}"
    .col-sm-3
      %h3.general-subtitle.mt-0 Shipments
      %p.general-address
        = @order.delivery.name
        %br
        = @order.delivery.time
    .col-sm-3
      %h3.general-subtitle.mt-0 Payment Information
      %p.general-address
        = "**** **** **** #{@order.credit_card.card_number.last(4)}"
        %br
        = @order.credit_card.expiration_month_year
  .visible-xs
    - @order.line_items.each do |line_item|
      .general-cart-item.divider-lg
        .general-img-wrap-table
          = link_to line_item.book.images.first.url do
            = image_tag line_item.book.images.first.url, class: "img-shadow general-thumbnail-img", alt: "design-book"
        %p.title= line_item.book.title
        %table.table
          %tr
            %td
              %span.in-grey-600 Price
            %td
              %span.font-16.in-gold-500= number_to_euro line_item.book.price
          %tr
            %td.vertical-middle
              %span.in-grey-600 Quantity
            %td
              %span= line_item.quantity
          %tr
            %td
              %span.in-grey-600 SubTotal
            %td
              %span.font-16.in-gold-500= number_to_euro line_item.total_price

  .hidden-xs.divider-lg.pt-20
    %table.table.table-hover
      %thead
        %tr
          %th
            %span.in-grey-600 Book
          %th.col-method
          %th
            %span.in-grey-600 Price
          %th
            %span.in-grey-600 Quantity
          %th
            %span.in-grey-600 Total
      %tbody
        - @order.line_items.each do |line_item|
          %tr
            %td
              .general-img-wrap-table
                = link_to line_item.book.images.first.url do
                  = image_tag line_item.book.images.first.url, class: "img-shadow general-thumbnail-img", alt: "design-book"
            %td
              %p.title= line_item.book.title
              %p.in-grey-600.fw-300= line_item.book.description.split('.').first
            %td
              %span.font-16.in-gold-500= number_to_euro line_item.book.price
            %td
              %span.ml-30= line_item.quantity
            %td
              %span.font-16.in-gold-500= number_to_euro line_item.total_price

  .text-center.general-text-right
    %p.in-gold-500.font-18 Order Summary
    %table.general-summary-table.general-summary-table-right.general-text-right
      = render 'carts/order_summary', order: @order
