<%= link_to "Edit", edit_book_path(@book) %>
<%= link_to "Delete", book_path(@book), method: :delete, data: { confirm: "Are u sure?" } %>
<%= link_to "Add book ", new_book_path %>

<main class="container">
  <%= link_to categories_path(category: @category), class: "general-back-link" do %>
  <i class="fa fa-long-arrow-left mr-15"></i>Back to results
<% end %>

<div class="row">
  <div class="col-sm-6">
    <div class="product-gallery">
      <div class="mb-20">
        <%= image_tag("test.jpg", :alt => "rss feed", class:"img-responsive") %>
      </div>
      <div class="images clearfix"></div>
    </div>
  </div>
  <div class="col-sm-6">
    <h1 class="mt-res-0"><%= @book.title %></h1>
    <p class="lead small">
      <% @book.authors.each do |author|%>
        <%= author.firstname %> <%= author.lastname %>
      <% end %>
      </p>
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <p class="h1 in-gold-500 mt-10">
            €
            <%= @book.price %>
          </p>
        </div>
      </div>
      <div class="general-info-wrap divider-lg">
        <p>Description</p>
        <p class="lead small line-height-2">
          <%= @book.description %>
        </p>
      </div>
      <div class="general-info-wrap divider-lg">
        <div class="clearfix">
          <p class="pull-left">Year of publication</p>
          <p class="lead small pull-right"><%= @book.year %></p>
        </div>
      </div>
      <div class="general-info-wrap divider-lg">
        <div class="clearfix">
          <p class="pull-left">Dimensions</p>
          <p class="lead small pull-right">
            H:
            <%= @book.dimension_h %>" x W:
            <%= @book.dimension_w %>
            " x D:
            <%= @book.dimension_d %>
          </p>
        </div>
      </div>
      <div class="general-info-wrap divider-lg">
        <div class="clearfix">
          <p class="pull-left">Materials</p>
          <p class="lead small pull-right"><%= @book.material %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-20 make-review">
    <div class="row">
      <div class="col-md-5 col-xs-10"></div>
    </div>
  </div>

  <div class="mb-80">
    <h3 class="in-gold-500 mb-25">
      Reviews (<%= @book.reviews.count %>)
    </h3>
    <%= render @book.reviews %>

    <% if user_signed_in? %>
      <div class="mb-80">
        <h3>Write a Review</h3>
        <div class="row">
          <%= simple_form_for([@book, @book.reviews.build]) do |f| %>
          <div class="col-md-8">
            <div class="mb-40">
              <%= f.label :rating, "Rating", class:"general-info-text" %>
              <input value="5" type="hidden" name="review[rating]" id="review_rating">
              <div class="mb-15 review-rating">
                <i class="fa fa-star" id="star-1"></i>
                <i class="fa fa-star" id="star-2"></i>
                <i class="fa fa-star" id="star-3"></i>
                <i class="fa fa-star" id="star-4"></i>
                <i class="fa fa-star" id="star-5"></i>
              </div>
              <%= f.input_field :rating, class: "form-control" %>
              <%= f.label :name, "Your name", class:"control-label input-label in-grey-600" %>
              <%= f.input_field :name, class: "form-control" %>
              <%= f.label :comment, "Review", class:"control-label input-label in-grey-600" %>
              <%= f.input_field :comment, class: "form-control" %>
            </div>
            <div class="text-right">
              <%= f.button :submit, "Post", class: "btn disabled mb-20" %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
</main>
