<main class="container general-main-wrap">
  <h1 class="general-title-margin">Cart</h1>
  <div class="visible-xs">
    <div class="general-cart-item divider-lg-bottom">
      <div class="general-cart-item divider-lg-bottom">
        <% @cart.line_items.each do |line_item| %>
          <button type="button" aria-label="Close" class="close general-cart-close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="general-img-wrap-table">
            <img src="http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg" alt="design-book" class="cart-img-shadow"/>
          </div>
          <p class="title"><%= line_item.book.title %>
          </p>
          <table class="table">
            <tr>
              <td>
                <span class="in-grey-600">Price</span></td>
              <td>
                <span class="font-16 in-gold-500"><%= number_to_currency(line_item.book.price, unit: "€") %></span></td>
            </tr>
            <tr>
              <td class="vertical-middle">
                <span class="in-grey-600">Quantity</span></td>
              <td>
                <div class="input-group">
                  <%= link_to line_item_path(quantity: :decrease), class: "input-link" do %>
                    <i class="fa fa-minus line-heaght-40"></i>
                  <% end %>
                  <input type="text" class="form-control quantity-input" value="<%= line_item.quantity %>"/>
                  <%= link_to line_item_path(quantity: :increase), class: "input-link" do %>
                    <i class="fa fa-plus line-heaght-40"></i>
                  <% end %>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <span class="in-grey-600">SubTotal</span></td>
              <td>
                <span class="font-16 in-gold-500"><%= number_to_currency(line_item.total_price, unit: "€") %></span></td>
            </tr>
          </table>
        <% end %>
      </div>
    </div>
  </div>
  <div class="hidden-xs">
    <table class="table table-hover">
      <tr class="no-hover">
        <th class="col-pic pl-0">
          <span class="in-grey-600">Product</span></th>
        <th class="col-title"></th>
        <th class="col-price">
          <span class="in-grey-600">Price</span></th>
        <th class="col-quantity">
          <span class="in-grey-600">Quantity</span></th>
        <th class="col-total">
          <span class="in-grey-600">SubTotal</span></th>
        <th class="col-close"></th>
      </tr>
      <%= render(@cart.line_items) %>
    </table>
  </div>
  <div class="general-order-wrap">
    <div class="row">
      <div class="col-sm-4">
        <div class="input-group general-input-group">
          <label class="input-label">Enter Your Coupon Code</label>
          <input type="text" placeholder="Enter Your Coupon Code " class="form-control mb-30"/>
          <div>
            <button class="btn btn-primary mr-5 mb-15">Apply Coupon</button>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="res-mr-200 text-center general-text-right">
          <p class="in-gold-500 font-18 general-text-right">Order Summary</p>
          <table class="general-summary-table general-summary-table-right general-text-right">
            <tr>
              <td>
                <p class="font-16">Subtotal:</p>
              </td>
              <td>
                <p class="font-16"><%= number_to_currency(@cart.total_price, unit: "€") %></p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="font-16">Coupon:</p>
              </td>
              <td>
                <p class="font-16"><%= number_to_currency(0.0, unit: "€") %></p>
              </td>
            </tr>
            <tr>
              <td>
                <strong class="font-18">Order Total:</strong>
              </td>
              <td>
                <strong class="font-18"><%= number_to_currency(@cart.total_price, unit: "€") %></strong>
              </td>
            </tr>
          </table>
          <button class="btn btn-default mb-20 visible-xs-inline-block">Checkout</button>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-default mb-20 hidden-xs center-block">Checkout</button>
</main>
