<main class="container general-main-wrap">
  <h1 class="general-title-margin">Cart</h1>
  <div class="visible-xs">
    <div class="general-cart-item divider-lg-bottom">
      <div class="general-cart-item divider-lg-bottom">
        <% @order.line_items.each do |line_item| %>
          <button type="button" aria-label="Close" class="close general-cart-close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="general-img-wrap-table">
            <img src="http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg" alt="design-book" class="cart-img-shadow"/>
          </div>
          <p class="title"><%= line_item.book.title %>
          </p>
          <table class="table">
            <tr>
              <td>
                <span class="in-grey-600">Price</span></td>
              <td>
                <span class="font-16 in-gold-500"><%= number_to_currency(line_item.book.price, unit: "€") %></span></td>
            </tr>
            <tr>
              <td class="vertical-middle">
                <span class="in-grey-600">Quantity</span></td>
              <td>
                <div class="input-group">
                  <%= link_to line_item_path(id: line_item.id, quantity: :decrease), class: "input-link" do %>
                    <i class="fa fa-minus line-heaght-40"></i>
                  <% end %>
                  <input type="text" class="form-control quantity-input" value="<%= line_item.quantity %>"/>
                  <%= link_to line_item_path(id: line_item.id, quantity: :increase), class: "input-link" do %>
                    <i class="fa fa-plus line-heaght-40"></i>
                  <% end %>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <span class="in-grey-600">SubTotal</span></td>
              <td>
                <span class="font-16 in-gold-500"><%= number_to_currency(line_item.total_price, unit: "€") %></span></td>
            </tr>
          </table>
        <% end %>
      </div>
    </div>
  </div>
  <div class="hidden-xs">
    <table class="table table-hover">
      <tr class="no-hover">
        <th class="col-pic pl-0">
          <span class="in-grey-600">Product</span></th>
        <th class="col-title"></th>
        <th class="col-price">
          <span class="in-grey-600">Price</span></th>
        <th class="col-quantity">
          <span class="in-grey-600">Quantity</span></th>
        <th class="col-total">
          <span class="in-grey-600">SubTotal</span></th>
        <th class="col-close"></th>
      </tr>
      <%= render(@order.line_items) %>
    </table>
  </div>
  <div class="general-order-wrap">
    <div class="row">
      <div class="col-sm-4">
        <div class="input-group general-input-group">
          <label class="input-label">Enter Your Coupon Code</label>
          <div class="input-group general-input-group">
            <%= simple_form_for cart_path, method: :put do |f| %>
              <%= f.input :coupon_id, :input_html => { class: "form-control mb-30" }, placeholder: "Enter Your Coupon Code ", label: false %>
              <div>
                <%= f.button :submit, class:"btn btn-primary mr-5 mb-15", value: "Apply Coupon"%>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <%= render 'order_summary' %>
    </div>
  </div>
  <div class="center-block">
    <%= link_to "Checkout", checkout_path(:login, destination: 'login'), class:"btn btn-default mb-20 hidden-xs center-block" %>
  </div>
</main>
