= render 'shared/field', field: :firstname, object: object, f: f, cast: cast
= render 'shared/field', field: :lastname, object: object, f: f, cast: cast
= render 'shared/field', field: :address, object: object, f: f, cast: cast
= render 'shared/field', field: :city, object: object, f: f, cast: cast
= render 'shared/field', field: :zip, object: object, f: f, cast: cast
= render 'shared/field', field: :country, object: object, f: f, cast: cast
= render 'shared/field', field: :phone, object: object, f: f, cast: cast

= f.input :user_id, label: false, input_html: { value: current_user.id, type: 'hidden' }
= f.input :order_id, label: false, input_html: { value: current_order.id, type: 'hidden' }
= f.input :cast, label: false, input_html: { value: cast, type: 'hidden' }
