<div class="hidden-xs hidden-sm">
  <div class="row">
    <%= Address.casts.each_key do |cast| %>
    <div class="col-md-5">
      <h3 class="general-subtitle mt-0"><%= cast.capitalize %> Address</h3>
    </div>
    <% end %>
  </div>
</div>
<div class="row">
  <%= Address.casts.each_key do |cast| %>
    <div class="col-md-5 mb-40">
      <div class="visible-xs visible-sm">
        <h3 class="general-subtitle mt-0"><%= cast.capitalize %> Address</h3>
      </div>
      <%= simple_form_for(current_user.addresses.find_or_initialize_by(cast: Address.casts[cast])) do |ff| %>
        <%= ff.error_notification %>
        <%= render 'addresses/form_fields', f:ff, cast: cast%>
        <%= ff.button :submit, "Save", class:"btn btn-default btn" %>
      <% end %>
    </div>
  <% end %>
</div>
