<footer class="navbar-inverse">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <ul class="list-inline mb-25">
          <li><%= link_to "Home", root_path, class:"nav-link" %></li>
          <li><%= link_to "Shop", categories_path, class:"nav-link" %></li>
          <% if user_signed_in? %>
          <li>
            <a class="nav-link" href="#">Orders</a>
          </li>
          <li>
            <%= link_to "Settings", edit_user_registration_path, class: "nav-link" %>
          </li>
          <% else %>
            <li><%= link_to "Log in", new_user_session_path, class:"nav-link" %></li>
            <li><%= link_to "Sign up", new_user_registration_path, class:"nav-link" %></li>
          <% end %>
        </ul>
      </div>

      <div class="col-sm-3">
        <p class="general-nav-mail">support@bookstore.com</p>
        <p class="general-nav-number">(555)-555-5555</p>
        <ul class="list-inline general-align mb-25">
          <li>
            <a class="nav-link" href="#">
              <i aria-hidden="true" class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a class="nav-link" href="#">
              <i aria-hidden="true" class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a class="nav-link" href="#">
              <i aria-hidden="true" class="fa fa-google-plus"></i>
            </a>
          </li>
          <li>
            <a class="nav-link" href="#">
              <i aria-hidden="true" class="fa fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
