<header class="navbar navbar-default" style="background-color: #ffffff;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle pull-left">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Bookstore", root_path, class: "navbar-brand" %>
    </div>
    <%= link_to carts_path, class:"shop-link pull-right hidden-xs" do %>
      <span class="shop-icon">
        <span class="shop-quantity"><%= LineItem.all.count %></span>
      </span>
    <% end %>
    <div id="navbar" aria-expanded="false" class="navbar-collapse collapse pl-30 pd-1">
      <div class="visible-xs">
        <button type="button" aria-label="Close" class="close">
          <span aria-hidden="true">&times;</span></button>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li>
          <li>
            <a type="button" data-toggle="collapse" href="#menu" aria-expanded="false" aria-controls="menu">Shop</a>
            <ul id="menu" aria-expanded="false" class="collapse list-unstyled-none mb-10 pl-30">
              <% Category.all.each do |category| %>
                <li class="<%= 'active' if params[:category] == category.title %>">
                  <%= link_to category.title, categories_path(category: category.title), class: "collapse-link" %>
                </li>
              <% end %>
            </ul>
          </li>
          <% if user_signed_in? %>
            <li>
              <a type="button" href="#account" data-toggle="collapse" class="collapse" aria-expanded="false" aria-controls="account">My account</a>
              <ul id="account" aria-expanded="false" class="collapse list-unstyled-none mb-10 pl-30">
                <li>
                  <a class="collapse-link" href="#">Orders</a>
                </li>
                <li>
                  <%= link_to "Settings", edit_user_registration_path, class: "collapse-link" %>
                </li>
              </ul>
            </li>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Log in", new_user_session_path %></li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
      <div class="hidden-xs">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li>
          <li class="dropdown">
            <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">Shop</a>
            <ul class="dropdown-menu" role="menu">
              <% Category.all.each do |category| %>
                <li class="<%= 'active' if params[:category] == category.title %>">
                  <%= link_to category.title, categories_path(category: category.title), class: "collapse-link" %>
                </li>
              <% end %>
            </ul>
          </li>
          <% if user_signed_in? %>
            <li>
              <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">My account</a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="#">Orders</a>
                </li>
                <li>
                  <%= link_to "Settings", edit_user_registration_path %>
                </li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Log in", new_user_session_path %></li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>
