<main class="container">
  <% if @books.count == @all_books.count %>
    <h1 class="general-title-margin">Сatalog</h1>
  <% else %>
    <h1 class="general-title-margin"><%= params[:category] %></h1>
  <% end %>

  <div class="hidden-xs clearfix">
    <div class="dropdowns pull-right">
      <div class="dropdown width-240">
        <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle lead small">Newest first
          <i class="fa fa-angle-down dropdown-icon pull-right"></i>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to 'Newest first', categories_path(category: params[:category], filter: :newest) %>
          </li>
          <li>
            <%= link_to 'Popular first', categories_path(category: params[:category], filter: :pop_first) %>
          </li>
          <li>
            <%= link_to 'Title A-Z', categories_path(category: params[:category], filter: :by_title_asc) %>
          </li>
          <li>
            <%= link_to 'Title Z-A', categories_path(category: params[:category], filter: :by_title_desc) %>
          </li>
          <li>
            <%= link_to 'Price: Low to high', categories_path(category: params[:category], filter: :price_asc) %>
          </li>
          <li>
            <%= link_to 'Price: High to low', categories_path(category: params[:category], filter: :price_desc) %>
          </li>
        </ul>
      </div>
    </div>
    <ul class="list-inline pt-10 mb-25 mr-240">
      <li class="mr-35">
        <%= link_to categories_path, class: "filter-link"  do %>
          All <span class="badge general-badge"><%= @all_books.count %></span>
        <% end %>
      </li>
      <% @categories.each do |category| %>
      <li class="mr-35">
        <%= link_to categories_path(category: category.title), class: "filter-link"  do %>
          <%= category.title %> <span class="badge general-badge"><%= category.books.count %></span>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="dropdowns mb-25 visible-xs">
    <p class="lead small mb-10">Filter by category</p>
    <div class="dropdown">
      <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle lead small">Newest first
        <i class="fa fa-angle-down dropdown-icon pull-right"></i>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to categories_path do %>
            All <span class="badge general-badge"><%= @all_books.count %></span>
          <% end %>
        </li>
        <% @categories.each do |category| %>
        <li>
          <%= link_to categories_path(category: category.title) do %>
            <%= category.title %> <span class="badge general-badge"><%= category.books.count %></span>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
    <p class="lead small mb-10">Sort by</p>
    <div class="dropdown">
      <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle lead small">Newest first
        <i class="fa fa-angle-down dropdown-icon pull-right"></i>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to 'Newest first', categories_path(category: params[:category], filter: :newest) %>
        </li>
        <li>
          <%= link_to 'Popular first', categories_path(category: params[:category], filter: :pop_first) %>
        </li>
        <li>
          <%= link_to 'Title A-Z', categories_path(category: params[:category], filter: :by_title_asc) %>
        </li>
        <li>
          <%= link_to 'Title Z-A', categories_path(category: params[:category], filter: :by_title_desc) %>
        </li>
        <li>
          <%= link_to 'Price: Low to high', categories_path(category: params[:category], filter: :price_asc) %>
        </li>
        <li>
          <%= link_to 'Price: High to low', categories_path(category: params[:category], filter: :price_desc) %>
        </li>
      </ul>
    </div>
  </div>
  <div class="mb-120">
    <div class="row">
      <% @books.each do |book| %>
      <div class="col-xs-6 col-sm-3">
        <div class="general-thumb-wrap">
          <div class="general-thumbnail thumbnail-main">
            <img src="http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg" alt="design-book" class="img-shadow general-thumbnail-img"/>
            <div class="thumb-hover">
              <div class="general-thumb-link-wrap">
                <%= link_to book_path(book), class:"thumb-hover-link" do %>
                  <i aria-hidden="true" class="fa fa-eye thumb-icon"></i>
                <% end %>
                <div class="fl-r">
                  <%= simple_form_for @line_item do |f| %>
                    <%= f.input :book_id, :as => :hidden, :input_html => { :value => book.id } %>
                    <%= f.input :quantity, :as => :hidden, :input_html => { :value => 1 } %>
                    <%= f.button :submit, class: "thumb-hover-link button-hover"  do %>
                      <i class="fa fa-shopping-cart thumb-icon"></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="general-thumb-info">
          <p class="title"><%= book.title %></p>
          <p class="font-16 in-gold-500">€ <%= book.price %></p>
          <span class="divider-sm"></span>
          <p class="lead small">
            <% book.authors.each do |author|%>
              <%= author.firstname %> <%= author.lastname %>
            <% end %>
          </p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="text-center">
    <%= pagy_nav_bootstrap(@pagy).html_safe %>
  </div>
</main>
