.mb-80
  .row
    = simple_form_for([@book, @book.reviews.build]) do |f|
      .col-md-8
        .mb-40
          = f.label :rating, "Rating", class:"general-info-text"
          %input#review_rating{:name => "review[rating]", :type => "hidden", :value => "5"}/
          .mb-15.review-rating
            %i#star-1.fa.fa-star
            %i#star-2.fa.fa-star
            %i#star-3.fa.fa-star
            %i#star-4.fa.fa-star
            %i#star-5.fa.fa-star
          = f.input_field :rating, class: "form-control"
          = f.label :name, "Your name", class:"control-label input-label in-grey-600"
          = f.input_field :name, class: "form-control"
          = f.label :comment, "Review", class:"control-label input-label in-grey-600"
          = f.input_field :comment, class: "form-control"
        .text-right
          = f.button :submit, "Post", class: "btn disabled mb-20"
