.mb-80
  .row
    = simple_form_for([@book, @book.reviews.build]) do |f|
      .col-md-8
        .mb-40
          = f.label :rating, "Rating", class:"general-info-text"
          %fieldset.rating
            - for i in 0...5
              = f.input_field :rating, required: true, label: false, name: "rating", type: "radio", required: "", value: 5 - i, id: "#{i}_rating"
              %label.rating{for: "#{i}_rating"}
          = f.label :name, "Your name", class:"control-label input-label in-grey-600"
          = f.input_field :name, class: "form-control"
          = f.label :comment, "Review", class:"control-label input-label in-grey-600"
          = f.input_field :comment, class: "form-control"
          = f.input :user_id, label: false, input_html: { value: current_user.id, type: 'hidden' }
          = f.input :book_id, label: false, input_html: { value: @book.id, type: 'hidden' }
        .text-right
          = f.button :submit, "Post", class: "btn btn-default mb-20"
