<% if review.publish == true %>
<h3 class="in-gold-500 mb-25">
  Reviews (<%= @book.reviews.where(publish: true).count %>)
</h3>
<div class="general-message-wrap divider-lg">
  <div class="clearfix">
    <span class="img-circle logo-size inlide-block pull-left logo-empty"><%= review.name.slice(0,1).capitalize %></span>
    <div class="ml-70">
      <div>
        <div class="general-message-date hidden-xs"><%= review.created_at.strftime("%Y/%d/%m") %></div>
        <div class="max-240">
          <div class="general-message-name"><%= review.name %></div>
          <div class="mb-15">
            <% for i in 0...review.rating do %>
              <i class="fa fa-star rate-star"></i>
            <% end %>
            <p><%= review.comment %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
