!!!

%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title WaiterAchiever
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:crossorigin => "anonymous", :integrity => "sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=", :src => "https://code.jquery.com/jquery-3.4.1.min.js"}
    %script{:src => "https://cdn.jsdelivr.net/jquery/latest/jquery.min.js", :type => "text/javascript"}
    %script{:src => "https://cdn.jsdelivr.net/momentjs/latest/moment.min.js", :type => "text/javascript"}
    %script{:src => "https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js", :type => "text/javascript"}
    %link{:href => "https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"}
    %script{:src => "https://cdn.jsdelivr.net/npm/chart.js@2.8.0", :type => "text/javascript"}
  %body
    = render 'patrials/header'
    = render 'patrials/messages'
    = yield
    = render 'patrials/footer'
