<!DOCTYPE html>
<html>
  <head>
    <title>Bookstore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-default" style="background-color: #ffffff;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle pull-left">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Bookstore", root_path, class: "navbar-brand" %>
        </div>
        <%= link_to carts_path, class:"shop-link pull-right hidden-xs" do %>
          <span class="shop-icon">
            <span class="shop-quantity"><%= LineItem.all.count %></span>
          </span>
        <% end %>
        <div id="navbar" aria-expanded="false" class="navbar-collapse collapse pl-30 pd-1">
          <div class="visible-xs">
            <button type="button" aria-label="Close" class="close">
              <span aria-hidden="true">&times;</span></button>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Home", root_path %></li>
              <li>
                <a type="button" data-toggle="collapse" href="#menu" aria-expanded="false" aria-controls="menu">Shop</a>
                <ul id="menu" aria-expanded="false" class="collapse list-unstyled-none mb-10 pl-30">
                  <% Category.all.each do |category| %>
                    <li class="<%= 'active' if params[:category] == category.title %>">
                      <%= link_to category.title, categories_path(category: category.title), class: "collapse-link" %>
                    </li>
                  <% end %>
                </ul>
              </li>
              <% if user_signed_in? %>
                <li>
                  <a type="button" href="#account" data-toggle="collapse" class="collapse" aria-expanded="false" aria-controls="account">My account</a>
                  <ul id="account" aria-expanded="false" class="collapse list-unstyled-none mb-10 pl-30">
                    <li>
                      <a class="collapse-link" href="#">Orders</a>
                    </li>
                    <li>
                      <a class="collapse-link" href="#">Settings</a>
                    </li>
                  </ul>
                </li>
                <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to "Log in", new_user_session_path %></li>
                <li><%= link_to "Sign up", new_user_registration_path %></li>
              <% end %>
            </ul>
          </div>
          <div class="hidden-xs">
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Home", root_path %></li>
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">Shop</a>
                <ul class="dropdown-menu" role="menu">
                  <% Category.all.each do |category| %>
                    <li class="<%= 'active' if params[:category] == category.title %>">
                      <%= link_to category.title, categories_path(category: category.title), class: "collapse-link" %>
                    </li>
                  <% end %>
                </ul>
              </li>
              <% if user_signed_in? %>
                <li>
                  <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">My account</a>
                  <ul class="dropdown-menu" role="menu">
                    <li>
                      <a href="#">Orders</a>
                    </li>
                    <li>
                      <a href="#">Settings</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
                  </ul>
                </li>
              <% else %>
                <li><%= link_to "Log in", new_user_session_path %></li>
                <li><%= link_to "Sign up", new_user_registration_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <%= yield %>

    <footer class="navbar-inverse">
      <div class="container">
        <div class="row">
          <div class="col-sm-9">
            <ul class="list-inline mb-25">
              <li><%= link_to "Home", root_path, class:"nav-link" %></li>
              <li><%= link_to "Shop", categories_path, class:"nav-link" %></li>
              <% if user_signed_in? %>
              <li>
                <a class="nav-link" href="#">Orders</a>
              </li>
              <li>
                <a class="nav-link" href="#">Settings</a>
              </li>
              <% else %>
                <li><%= link_to "Log in", new_user_session_path, class:"nav-link" %></li>
                <li><%= link_to "Sign up", new_user_registration_path, class:"nav-link" %></li>
              <% end %>
            </ul>
          </div>

          <div class="col-sm-3">
            <p class="general-nav-mail">support@bookstore.com</p>
            <p class="general-nav-number">(555)-555-5555</p>
            <ul class="list-inline general-align mb-25">
              <li>
                <a class="nav-link" href="#">
                  <i aria-hidden="true" class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a class="nav-link" href="#">
                  <i aria-hidden="true" class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a class="nav-link" href="#">
                  <i aria-hidden="true" class="fa fa-google-plus"></i>
                </a>
              </li>
              <li>
                <a class="nav-link" href="#">
                  <i aria-hidden="true" class="fa fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
