<!DOCTYPE html>
<html>
  <head>
    <title>Bookstore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <style media="screen">
    .navbar {
      position: relative;
      min-height: 80px;
      margin-bottom: 60px;
      border: 1px solid transparent;
    }
    .navbar-default {
      box-shadow: 0 5px 18px 2px rgba(1,1,1,0.1);
    }
    .navbar-brand {
      float: left;
      padding: 29.5px 15px;
      font-size: 14px;
      line-height: 21px;
      height: 80px;
    }
    .navbar-default .navbar-brand {
      color: #333333;
    }

  </style>
  <body>
    <header>
      <nav class="nav navbar navbar-default" style="background-color: #ffffff;">
        <div class="container">
          <div class="nav navbar-nav navbar-left">
            <%= link_to "Bookstore", root_path, class: "navbar-brand" %>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_path %></li>
            <li class="dropdown">
              <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Shop</a>
              <ul class="dropdown-menu" role="menu">
                <% Category.all.each do |category| %>
                  <li class="<%= 'active' if params[:category] == category.title %>">
                    <%= link_to category.title, books_path(category: category.title), class: "collapse-link" %>
                  </li>
                <% end %>
              </ul>
            </li>
            <% if user_signed_in? %>
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Log in", new_user_session_path %></li>
            <% end %>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="container">
      <%= yield %>
      <%= link_to "Add book ", new_book_path %>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  </body>

  <footer class="navbar-inverse">
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <ul class="list-inline general-align mb-25">
            <li>
              <a class="nav-link" href="/">Home</a>
            </li>
            <li>
              <a class="nav-link" href="/categories">Shop</a>
            </li>
            <li>
              <a class="nav-link" href="/users/sign_in">Log In</a>
            </li>
            <li>
              <a class="nav-link" href="/users/sign_up">Sign Up</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-3">
          <p class="general-nav-mail">support@bookstore.com</p>
          <p class="general-nav-number">(555)-555-5555</p>
          <ul class="list-inline general-align">
            <li>
              <a class="nav-link" href="#">
                <i aria-hidden="true" class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a class="nav-link" href="#">
                <i aria-hidden="true" class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a class="nav-link" href="#">
                <i aria-hidden="true" class="fa fa-google-plus"></i>
              </a>
            </li>
            <li>
              <a class="nav-link" href="#">
                <i aria-hidden="true" class="fa fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</html>
